*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Playfair Display', serif;
}
.navbar{
    background-color: white;
    padding: 0 7em;
} 
.navbar-logo{
    width: 100px;
    height: 80px;
}
.navbar ul.dropdown-menu{
    line-height: 35px;
}

