@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', serif;
}
.navbar{
    background-color: white;
    padding: 0 5em; 
} 
.logo {
    background-image: linear-gradient(to right, #E23219, #FFB800);
    height: 3em;
    width: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
div.body-jumbotron{
    background-image: url(../IMAGES/daniel-olah-ZbEURDlbE6o-unsplash.jpg);
    background-size: cover;
}
.storycards{
    background-color: orange;
}
.storycards p{
    color: black;
}
.cards a{
    text-decoration: none;
}
.cards a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: black;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: red;
    transition: all 0.2s ease;
}
.ALU-logo{
    width: 325px;
    height: 100px;
}
.storycards h3{
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: 800;
}
